<!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
<div class="table-responsive-vertical md-whiteframe-z1">
    <h1 class="dividers">Download aqui os dados utilizados por esse estudo.</h1>
	
	<a href="www.google.com">
    <div class="download">
          <div hide-sm hide-md class="md-tile-content">
              <i class="material-icons md-100">file_download</i>
          </div>
          <div class="md-tile-content">
              TWEETS
          </div>

    </div>
    </a>

    <br><br>

</div>
