

<h1 class="dividers">Clusters de Agosto</h1>
<!-- Dia 29 de agosto -->
<div layout-gt-md="row">
  <panel-widget flex title="29 de Agosto" class="fixed-height-widget center">
    
    <img src="/app/img/dia_29/cluster_29.png" width="320" height="200">

  </panel-widget>

  <panel-widget flex title="30 de Agosto - 1" class="fixed-height-widget center">
    
    <img src="/app/img/dia_30/cluster_30.png" width="320" height="200">

  </panel-widget>

  <panel-widget flex title="30 de Agosto - 2" class="fixed-height-widget center">
    
    <img src="/app/img/dia_30/cluster_30_1.png" width="320" height="200">

  </panel-widget>
  
</div>

<!-- Dia 30 de agosto -->
<div layout-gt-md="row">

  <panel-widget flex title="30 de Agosto - 3" class="fixed-height-widget center">
    
    <img src="/app/img/dia_30/cluster_30_1.png" width="320" height="200">

  </panel-widget>

  <panel-widget flex title="31 de Agosto - 1" class="fixed-height-widget center">
    
    <img src="/app/img/dia_31/cluster_31.png" width="320" height="200">

  </panel-widget>

  <panel-widget flex title="31 de Agosto - 2" class="fixed-height-widget center">
    
    <img src="/app/img/dia_31/cluster_31_1.png" width="320" height="200">

  </panel-widget>
</div>

<!-- Dia 31 de agosto -->

<div layout-gt-md="row">

  <panel-widget flex title="31 de Agosto - 3" class="fixed-height-widget center">
    
    <img src="/app/img/dia_31/cluster_31_1.png" width="320" height="200">

  </panel-widget>
</div>

<h1 class="dividers">Clusters de Setembro</h1>

<!-- Dia 1 de setembro -->

<div layout-gt-md="row">
  <panel-widget flex title="1 de Setembro - 1" class="fixed-height-widget center">
    <img src="/app/img/dia_01/cluster_01.png" width="320" height="200">
  </panel-widget>

  <panel-widget flex title="1 de Setembro - 2" class="fixed-height-widget center">
    <img src="/app/img/dia_01/cluster_01_2.png" width="320" height="200">
  </panel-widget>

  <panel-widget flex title="1 de Setembro - 3" class="fixed-height-widget center">
    <img src="/app/img/dia_01/cluster_01_3.png" width="320" height="200">
  </panel-widget>

</div>

<!-- Dia 2 de setembro -->

<div layout-gt-md="row">
  <panel-widget flex title="1 de Setembro - 4" class="fixed-height-widget center">
    <img src="/app/img/dia_01/cluster_01_4.png" width="320" height="200">
  </panel-widget>

  <panel-widget flex title="2 de Setembro - 1" class="fixed-height-widget center">
    <img src="/app/img/dia_02/cluster_02.png" width="320" height="200">
  </panel-widget>

  <panel-widget flex title="2 de Setembro - 2" class="fixed-height-widget center">
    <img src="/app/img/dia_02/cluster_02_2.png" width="320" height="200">
  </panel-widget>

</div>

<div layout-gt-md="row">
  <panel-widget flex title="2 de Setembro - 3" class="fixed-height-widget center">
    <img src="/app/img/dia_02/cluster_02_3.png" width="320" height="200">
  </panel-widget>

  <panel-widget flex title="2 de Setembro - 4" class="fixed-height-widget center">
    <img src="/app/img/dia_02/cluster_02_4.png" width="320" height="200">
  </panel-widget>
</div>
